snippet gl "Glyphicon" i
<i class="glyphicon glyphicon-$1"></i>
endsnippet

snippet tr "trans tag" iw
{% trans "${0:${VISUAL:text}}" %}
endsnippet

snippet bt "blocktrans tag" iw
{% blocktrans %}${0:${VISUAL:text}}{% endblocktrans %}
endsnippet
